@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

h1{ 
    height: 80px;
    width: 100%;
    background-color: black;
    font-size: 32px;
    padding: 20px;
    font-family: 'Hind', sans-serif;
    letter-spacing:2px;
    float: right;
    background-color: goldenrod;
    padding: 10px;
    text-decoration: none;
}

h2{ 
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    color:#1a2842
    text-align: center;
}

h3{ 
    height: 80px;
    width: 100%;
    font-size: 32px;
    font-family: 'Hind', sans-serif;
    letter-spacing:8px;
    float: right;
    padding: 10px;
    margin-top: 50px;
    text-decoration: none;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

h4{ 
    height: 80px;
    width: 100%;
    font-size: 32px;
    font-family: 'Hind', sans-serif;
    letter-spacing:8px;
    float: left;
    padding: 10px;
    margin-top: 50px;
    text-decoration: none;
}

h5{ 
    height: 80px;
    width: 100%;
    font-size: 32px;
    font-family: 'Hind', sans-serif;
    letter-spacing:8px;
    float: right;
    padding: 10px;
    margin-top: 50px;
    text-decoration: none;
}

h6{ 
    height: 80px;
    width: 100%;
    font-size: 32px;
    font-family: 'Hind', sans-serif;
    letter-spacing:8px;
    float: right;
    padding: 10px;
    margin-top: 50px;
    text-decoration: none;
}

.logo{
    float: right;
}

.logo span{
    text-shadow: 1 1 5px;
}

.barra{
    float: left;
    text-decoration: none;
    color: white;
    font-family: 'Hind', sans-serif;
    text-align: right;
    background-color: #00B2FE;
    width: 100%;
    position: fixed;
} 

.barra:hover{
    text-shadow: 0 0 5px;
    color: #1a2842;
}

.barra ul{
    list-style: none;
}

.barra ul li{
    display: inline-block;
}

.main{
    grid-area: main;
    background-image: url(img/raagiesParaRedes.png);
    background-size:cover;
}

.body{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: repeat (8, 280px);
    grid-template-columns: 1fr;
    grid-gap: 2px;
}

section{
    height:auto;
    width: 100%;
    color: #FFC53F;
    background-color: #00B2FE;
    display: flex;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.divTexto {
    grid-area: divTexto;
    border: none;
    display: flex;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration-color: #FFC53F;
    width: 100%; 
    height: 400px;   
    color: #FFC53F;
}

.divImagenMyObj {
    grid-area: divImagenMyObj;
    display: flex;
    background-image: url(./img/edificioLogo.png);
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 400px;    
}

 .divImagenEjes {
    grid-area: divImagenEjes;
    display: flex
    background-image: url(./img/brazospp.jpg);
    background-size: cover;
    background-position: top;
    width: 100%; 
    height: 400px;    
}

 .divImagenAcciones {
    grid-area: divImagenAcciones;
    display: flex;
    background-image: url(./img/exposicion.jpg);
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 400px;    
}

.divImagenContacto {
    grid-area: divImagenContacto;
    display: flex;
    background-image: url(img/quienesSomos.jpg);
    background-size: cover;
    background-position: top;
    width: 100%; 
    height: 400px;    
}

.parrafos{
    display: grid;
    width: 80%; 
    height: 20px;    
}


footer{
    grid-area: footer;
    background-color: #0053FF;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    text-align: center;
    padding: 20px;
    color: white;
}

p{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding: 5px;
    color:#1a2842

}

.redes{
    font-size: 40px;
    padding: 20px;
    letter-spacing: 5px;
    text-decoration: none;
    text-decoration-color: #ffffff;
    color: #ffffff;
    font-family: 'Hind', sans-serif;
}

.redes a:hover {
    background-size: widht; 100%;
    color:goldenrod;
}

a:hover {
    color: goldenrod;
  }

.padreFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}



li {
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding: 5px;
    color:#1a2842
}

@media only screen and (min-width: 480px) {
    .main{
        grid-area: main;
        background-image: url(img/raagiesParaRedes.png);
        background-size:center;
        width: 100%;
    }
    
    .body{
        display: flex;
        grid-template-columns: 1fr; 1fr
        grid-template-rows: repeat (4,200px)
        gap: 2px;
    }
   
    .divTexto {
        grid-area: divTexto;
        border: none;
        display: flex;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration-color: #FFC53F;
        width: 50%; 
        height: 200px;   
        color: #FFC53F;
    }
    
    .divImagenMyObj {
        grid-area: divImagenMyObj;
        display: flex;
        background-image: url(./img/edificioLogo.png);
        background-size: cover;
        background-position: center;
        width: 100%; 
        height: 200px;    
    }
    
     .divImagenEjes {
        grid-area: divImagenEjes;
        display: flex
        background-image: url(./img/brazospp.jpg);
        background-size: cover;
        background-position: top;
        width: 100%; 
        height: 200px;    
    }
    
     .divImagenAcciones {
        grid-area: divImagenAcciones;
        display: flex;
        background-image: url(./img/exposicion.jpg);
        background-size: cover;
        background-position: center;
        width: 100%; 
        height: 200px;    
    }
    
    .divImagenContacto {
        grid-area: divImagenContacto;
        display: flex;
        background-image: url(img/quienesSomos.jpg);
        background-size: cover;
        background-position: top;
        width: 100%; 
        height: 200px;    
    }

@media only screen and (min-width: 768px) {
    .main{
        grid-area: main;
        background-image: url(img/raagiesParaRedes.png);
        background-size:center;
        width: 100%;
    }
        
    .body{
        display: flex;
        grid-template-columns: 1fr; 1fr
        grid-template-rows: repeat (4,200px)
        gap: 2px;
    }
       
    .divTexto {
        height: 400px;   
    }
        
    .divImagenMyObj {
        height: 400px;    
    }
        
    .divImagenEjes {
        height: 400px;    
    }
        
    .divImagenAcciones {
        height: 400px;    
    }
        
    .divImagenContacto {
        height: 400px;    
    }